.vouchers {
	&__voucher {
		background-color: #2d7ac0;
		padding         : 1rem;
		border-radius   : 20px;
		color           : #fff;
		font-weight     : 500;
	}

	&__code {
		text-align   : center;
		font-size    : 1.8rem;
		color        : #fff;
		margin-bottom: 0.5rem;
	}

	&__des {
		color          : #fff;
		display        : flex;
		justify-content: space-between;
	}
}