.header_service {
	display        : flex;
	padding        : 3rem 1.5rem;
	align-items    : center;
	justify-content: space-between;


	&__title {
		font-size  : 1.4rem;
		font-weight: bold;
		color      : #329093
	}

	&__img {
		margin-right : .5rem;
		border-radius: 5px;
	}
}