.HeaderServices {
	&__header {
		img {
			border-radius: 50%;
		}

		padding: 1rem 2rem 0;
	}

	&__btn {
		// width: 9rem;
		min-width: 9rem;
	}

	&__ButtonItem {
		margin-bottom: 1.5rem;
	}

	&__buttonGroup {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 10px;
	}

	&__button {
		margin-left: 5px;
		margin-right: 5px;
	}

	&__button:hover {
		background-color: white;
		border-color: blue;
	}

	&__button:focus {
		background-color: white;
		border-color: blue;
	}
}

// ---------------------

//responsive

@media screen and (min-device-width: 320px) and (max-device-width: 576px) {
	.HeaderServices__header {
		display: inline;
	}

	.HeaderServices__buttonGroup {
		text-align: center;
	}
}
