.a {
    color: red
}

.bgS {

    height: 100vh;
}

.title {
    margin-bottom: h1 {
        color: #949FB1;
        font-size: 3rem;
        font-weight: bold;
    }

    h2 {
        color: #949FB1;
        font-size: 2.5rem;
        text-align: left;
    }
}

.signin_main {
    // background-color: #fff;
    height: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: #ffffff;
    }
}

.signin {
    background: url('/images/imageBGS.jpg') center no-repeat;
    background-size: cover;
}