.ServiceManager {
	&_BoxItem {
		margin-right: 1rem;
		padding     : 1rem;
		height      : 100%;
		width       : 8.5rem;
		text-align  : center;

		border-radius: 20px;
		margin-bottom: 1rem;

		&__img {
			width : 80px;
			height: 80px;
		}

		&__text {
			margin-top : .5rem;
			font-weight: bold;
		}
	}
}