.UserManagement {
	padding: 5rem 1rem;

	&__avatarIcon {
		width       : 40px;
		height      : 40px;
		margin-right: .5rem;
	}

	&__icon {
		width       : 30px;
		height      : 30px;
		margin-right: 8px;

	}

	th {
		border: 0;
	}

	tr {
		border: 0;
	}

	td {
		border: 0;
	}


}