.sidebarLeft {
	&_infor {
		padding: 2rem 0;
		margin-bottom: 1rem;

		&__avatar {
			margin-right: 5px;
			width: 30%;
		}

		&__desc {
			margin-left: 0rem;
		}

		&__name {
			.userName {
				font-size: 1.5rem;
				color: #4b4949;
				font-weight: bold;
			}
		}

		&__money {
			font-size: 1.5rem;
			color: #2175b3;
		}
	}
}
