.PopupAddAction {

	// -----------------------  
	// add block 
	&__contentBlock {
		height: 500px;
	}

	&__btnBlock {
		display        : flex;
		justify-content: space-around;
		margin-bottom  : 1rem;

	}

	&__btnTextBlock {
		margin-right: 1rem;
	}

	// end add block  
}