.header {
	&__top {
		z-index: 9999;

		.navbar.navbar-expand.navbar-dark.bg-dark {
			background: -webkit-linear-gradient(
				to right,
				#f64f59,
				#c471ed,
				#12c2e9
			); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(
				to right,
				#f64f59,
				#c471ed,
				#12c2e9
			); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}

		.e {
			background: -webkit-linear-gradient(
				to right,
				#f64f59,
				#c471ed,
				#12c2e9
			); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(
				to right,
				#f64f59,
				#c471ed,
				#12c2e9
			); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			padding: 0.62rem 1rem;
		}

		.iconNotify {
			margin-right: 0;
		}

		&__nameLogo {
			color: white !important;
			font-weight: 500;
			font-size: 1.5rem;
		}
	}

	&__search {
		padding-top: 3rem;
	}

	&__inputSearch {
		width: 100% !important;
		padding: 2rem;
		font-size: 1.5rem;
		border-radius: 20px;
	}

	.form-inline {
		position: relative;
	}

	&__btnSearch {
		position: absolute;
		right: 4rem;
		padding: 2px;
		border-radius: 50%;
	}
}

@media screen and (min-width: 992px) {
	.header {
		margin-top: -5rem;
	}

	.header .header__top .e {
		background: -webkit-linear-gradient(
			to right,
			#f64f59,
			#c471ed,
			#12c2e9
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#f64f59,
			#c471ed,
			#12c2e9
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		padding: 0.62rem 1rem;
		border-top-left-radius: 2.5rem;
		border-top-right-radius: 2.5rem;
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 992px) {
	.header .header__top .e {
		border-top-left-radius: 0rem;
		border-top-right-radius: 0rem;
	}
}
